@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
  padding: 0px;
  margin: 0px;
  font-family: "Karla", sans-serif;
  box-sizing: border-box;
}

:root {
  --bcColor: white;
}

body {
  background: var(--bcColor);
}

.time {
  position: absolute;
  inset: auto auto 0px 0px;
  margin: 0px;
  transform: translate3d(522.5px, 3847.5px, 0px);
  background: red;
}

    ::-webkit-scrollbar {
      width: 5px;
      height: 1px;
    }
  
    ::-webkit-scrollbar-track {
      width: 10px !important;
      padding: 0 15px 0 0;
      background: white;
      opacity: 0.5;
      border-radius: 30px;
      transform: matrix(-1, 0, 0, 1, 0, 0);
      transform: matrix(-1, 0, 0, 1, 0, 0);
      padding: 10px !important;
    }
  
    ::-webkit-scrollbar-thumb {
      padding: 30px 0px;
      background: #445c96;
      border-radius: 30px;
      transform: matrix(-1, 0, 0, 1, 0, 0);
    }

 