@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0px;
  margin: 0px;
  font-family: font-serif;
  box-sizing: border-box;
}

:root {
  --bcColor: white
}

body {
  background: var(--bcColor);
}