@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0px;
  margin: 0px;
  font-family: font-serif;
  box-sizing: border-box;
}

:root {
  --bcColor: white
}

body {
  background: var(--bcColor);
}

.time {
  position: absolute;
  inset: auto auto 0px 0px;
  margin: 0px;
  transform: translate3d(522.5px, 3847.5px, 0px);
  background: red;
}
